div{
	width:900px;
	height:300px;
	background-color:black;
	margin:10px auto;

}

div>div{
	width:0px;
	background-color:#ccc;
	margin:0px;
}

.foto{
	background-image: url(./imgs/300.jpg);
	background-size: 900px;
	background-repeat: no-repeat;
}